
#watchspy table {
  
  margin-top: 0;
}

/* side by side fieldsets */
#watchspy div.optcol-left {
  float: left;
  width: 63%;
}
#watchspy div.optcol-right {
  float: right;
  width: 35%;
}
#watchspy fieldset fieldset {
  margin: 0;
  padding: 0.5em;
}
#watchspy div.optcol-left fieldset {
  margin-bottom: 0;
}
#watchspy div.optcol-right ul.search-log-links {
  margin-top: 0;
}
#watchspy div.optcol-right div.form-item.jscalendar {
  margin-bottom: 0;
}
#watchspy div.optcol-right div.form-item.jscalendar label {
  padding-top: 0;
}
#watchspy div.optcol-right div.form-item.jscalendar div {
  display: inline;
}

#watchspy .form-checkboxes {
  margin: 0;
}
#watchspy hr.controls {
  margin: 0.5em 0;
}
#watchspy span.controls {
  padding-right: 1em;
  font-style: italic;
  text-decoration: underline;
  color: #87a448;
}

/* this allows us to put the checkboxes in columns
   note it is followed by overrides for particular numbers of columns
*/
#watchspy .form-checkboxes .form-item {
  float: left;
  width: 33%;
  margin: .2px 0;
  font-size: 0.95em;
}

#watchspy .ncols1 .form-checkboxes .form-item {
  width: 100%;
}
#watchspy .ncols2 .form-checkboxes .form-item {
  width: 50%;
}
#watchspy .ncols3 .form-checkboxes .form-item {
  width: 33%;
}
#watchspy .ncols4 .form-checkboxes .form-item {
  width: 25%;
}
#watchspy .ncols5 .form-checkboxes .form-item {
  width: 20%;
}
   
tr.watchspy-hideme {
  display: none;
}

#watchspy #edit-submit {
  margin: 20px 0 0 80px;
}

#watchspy .purge-wrapper .form-item {
  margin-bottom: 0;
}

table.watchspy-event {
  width: 540px;
  background-color: #eee;
}
/*
table.watchspy-event r.even,
table.watchspy-event r.odd {
  border:1px solid #CCCCCC;
  background-color: #eee;
}
*/

table.watchspy-event td {
  padding: 0.2em 0.5em;
}
table.watchspy-event td.label {
  text-align: right;
  font-style: italic;
}
table.watchspy-event {
}

